html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

html {
    font-size: 62.5%;
    font-family: 'Cormorant Garamond', serif;
    line-height: 1.6;
}

.wrapper {
    margin: 0 auto;
    max-width: 1280px;
    width: 80%;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

header {
    height: 100vh;
}

.headerText {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 15rem;
}

h1,
h3,
h4 {
    font-family: 'Pacifico', cursive;
}

h1 {
    font-size: 9rem;
    color: #FFF;
    text-shadow: -1px -1px 1px #000, 1px 1px 1px #000;
    margin-bottom: 0px;
}

h2 {
    font-size: 4.5rem;
    z-index: 1;
}

.animation {
    background-color: #e4f2c1;
    height: 6%;
}

.animation::before {
    content: '';
    animation: animate infinite 10s;
}

.scallop {
    position:relative;
    background: #ffdae9;
    padding:5rem;
}

.scallop::after { 
    position: absolute;
    bottom: -50px;
    left: 0px;
    width: 100%;
    content:" ";
    background: 
    radial-gradient(circle at 50% 0%, #ffdae9 25%, #FFFFFF 26%, #FFFFFF 40%);
    background-color: #ffdae9;
    background-size: 50px 100px;
    height:50px;
    background-repeat: repeat-x;
}

@keyframes animate {
    0% {
        content: 'front-end web developer';
    }
    20% {
        content: 'front-end web developer';
    }
    40% {
        content: 'floral designer';
    }
    60% {
        content: 'cake enthusiast';
    }
    80% {
        content: '2000s pop-culture junkie';
    }
    100% {
        content: 'life-long Spice Girls fan';
    }
}

.chevron {
    display: flex;
    justify-content: center;
}

.fa-chevron-down {
    position: absolute;
    bottom: 0;
    font-size: 4rem;
    color: #FFF;
    padding-bottom: 2rem;
    margin: 0;
}

.fa-chevron-down:hover {
    font-size: 5rem;
    color: #e4f2c1;
}

.about {
    display: flex;
    padding-top: 10rem;
}

h3 {
    font-size: 4rem;
    color: #FFF;
    text-shadow: -1px -1px 1px #000, 1px 1px 1px #000;
}

.aboutPhotoContainer {
    width: 40%;
    margin-left: 0;
    margin-top: 0px;
}

.aboutPhotoContainer h3 {
    margin-top: 0px;
}

.aboutPhotoContainer img {
    width: 75%;
    box-shadow: -1.5rem -1.5rem #e4f2c1;
}

.aboutTextContent {
    width: 60%;
    font-size: 2rem;
    margin-top: 5rem;
}

.aboutTextContent p {
    margin-left: 5rem;
    padding-top: 2rem;
}

.aboutTextContent span {
    background-color: #e4f2c1;
}

.skills {
    text-align: center;
    color: #ffdae9;
    margin-top: 8rem;
}

.skillIcons {
    width: 70%;
    font-size: 6rem;
    color: #000000;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
}

.skillIcons li {
    padding: 2rem;
}

.skillIcons li:hover {
    color: #ffdae9;
}

li p {
    font-size: 2rem;
}

.projectsContainer {
    display: flex;
    padding-top: 5rem;
}

.projectImage {
    width: 50%;
    box-shadow: -1.5rem -1.5rem #e4f2c1;
}

.projectTextContainer {
    width: 50%;
    margin-left: 8rem;
}

h4 {
    font-size: 3rem;
    margin: 1rem;
}

.projectTextContainer p {
    font-size: 2rem;
}

.projectTextContainer span {
    background-color: #ffdae9;
}

.projectLinks {
    background-color: #e4f2c1;
    font-size: 2rem;
    padding: 1rem 2rem;
    margin-right: 2rem;
    border-radius: 10px;
}

.projectLinks:hover {
    background-color: #ffdae9;
}

footer {
    background-color: #e4f2c1;
    font-size: 3rem;
    text-align: center;
    padding: 10px;
}



